.App {
  text-align: center;
  
}

.row {
  display: flex;
  justify-content: center; /* Only horizontal centering */
}

.grid {
  padding-top: 20px;
}

.text-box {
  background-color: rgb(64, 65, 65);
  height: 30px;
  margin: 10px;
}


